<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973457227319-bkafcokgss7vep6fujcqqpgr37i2vsq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973457227319-bkafcokgss7vep6fujcqqpgr37i2vsq0</string>
	<key>API_KEY</key>
	<string>AIzaSyC-RApatm2RqiGgBkgNWHJBq5ItNwpBpZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>973457227319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rocket.help</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-f8454</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-f8454.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973457227319:ios:d965924accae0f0fb089b2</string>
</dict>
</plist>